.allBlogs{
    background-color: white;
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
}
.blog1{
    display: flex;
    align-items: end;
    width: 30vw;
    height: 70vh;
    background-image: url(/images/Hamilton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip:border-box ;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    overflow: hidden;
}
.blog1:hover{
    background-color:hsl(0, 0%, 60%);
}
.blog2{
    display: flex;
    align-items: end;
    width: 20vw;
    height: 70vh;
    background-image: url(/images/norris.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip:border-box ;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    overflow: hidden;
}
.blog2:hover{
    background-color:hsl(0, 0%, 60%);
}
.blog3{
    display: flex;
    align-items: end;
    height: 33vh;
    background-image: url(/images/mg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip:border-box ;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    overflow: hidden;
}
.blog3:hover{
    background-color:hsl(0, 0%, 60%);
}
.blog4{
    display: flex;
    align-items: end;
    height: 33vh;
    background-image: url(/images/Xelite.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip:border-box ;
    border-radius: 10px;
    box-shadow: 3px 3px 5px gray;
    overflow: hidden;
}
.blog4:hover{
    background-color:hsl(0, 0%, 60%);
}
.duoBlog{
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 20vw;
}
.bloglists{
    background-color: hsl(0, 0%, 90%);
    display:flex;
    width:25vw ;
    height: 70vh;
}
.blog{
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}
.foot{
    display: flex;
    justify-content: left;
}
.head{
    display: flex;
    justify-content:left;
}
.headline{
    text-align: left;
    font-size: 2em;
    text-decoration:none;
    padding: 10px;
}
.headline a{
    text-decoration: none;
    color: white;
}
.head a{
    background-color: hsl(0, 0%, 15%);
    color: white;
    padding:10px ;
    background-clip: border-box;
    border-radius: 20px;
}
.foot a{
    background-color: hsl(0, 0%, 15%);
    color: white;
    padding:10px ;
    background-clip: border-box;
    border-radius: 20px;
}
