.flashbar{
    background-color: hsl(0, 0%, 90%);
    padding: 0px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    justify-content: space-between;
}
.flashbar a{
    color:black;
    text-decoration:none;
    font-weight:lighter;
    padding: 15px;
    display: block;
    text-align: left;
}
.flashbar a:hover{
    background-color:hsl(0, 0%, 60%);
}
