body{
    margin: 0px;
    overflow: -moz-hidden-unscrollable;
}
main{
    margin-left: 10px;
    margin-right: 10px;
}
.topbar{
    display: flex;
    justify-content:space-between;
}
.search{
    margin-top: -21px;
    margin-right: 10px;
}
.search button{
    border: none;
    padding: 9px;
    background-color: hsl(0, 0%, 100%);
}
h1{
    margin-top: 0px;
    text-align: left;
    color: white;
    padding: 25px;
    background-image: url(/images/h1.jpeg);
}
.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -21px;
    overflow:hidden;
}
.navbar a{
    color:black;
    text-decoration:none;
    font-weight:bold;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
    color: white;

}
.navbar li{
    float: inline-start;
}
