.news{
    display: flex;
}
.image{
    display: block;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 5px;
}
.literals{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: space-between;
    overflow: hidden;
}
.news:hover{
    background-color: hsl(0, 0%, 90%);
}
