.news{
    display: flex;
}
.newsimage{
    display: block;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 5px;
}
.literals{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: space-between;
    overflow: hidden;
}
.news:hover{
    background-color: hsl(0, 0%, 90%);
}
#img1{
    background-image: url(/images/MI.jpeg);
}
#img2{
    background-image: url(/images/wc23.jpeg);
}
#img3{
    background-image: url(/images/iitg.jpeg);
}
#img4{
    background-image: url(/images/iitb.jpeg);
}
#img5{
    background-image: url(/images/modiji.jpeg);
}
#img6{
    background-image: url(/images/neet.jpeg);
}